
@{
    ViewBag.Title = "Index";
}

<h2 align="center"> Reports</h2>

<h2>Index</h2>

<p>
    @Html.ActionLink("Generate Monthly Sales Report", "Index")
</p>
<p>
    @Html.ActionLink("Generate Supplier Performance Report", "Index")
</p>
<p>
    @Html.ActionLink("Generate Supplier Order Report", "Index")
</p>
<p>
    @Html.ActionLink("Generate Supplier Back Order Report", "Index")
</p>
<p>
    @Html.ActionLink("Generate Inventory Report", "Index")
</p>
<p>
    @Html.ActionLink("Generate Stock Turns Report", "Index")
</p>